.card-container {
    position: relative;
    margin: 10px 10px;
    background-color: #edfaff;
    padding: 5px;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 320px;
    border-radius: 10px !important;
    transition: 0.3s;
}

.photo {
    overflow: hidden;
}

.card-container:hover img {
    transform: scale(1.1);
}

.photo-detail {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 3px;
    padding: 5px;
    color: rgb(43, 41, 41);
    overflow: hidden;
}

.btn-custom {
    text-decoration: none;
    right: -150px;
    transition: all 0.4s;
}

.card-container:hover .btn-custom {
    display: block;
    right: 12px;
}